<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QPGNS8GT6Q"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QPGNS8GT6Q");
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='watermark_remover/tailwind.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='watermark_remover/index.css') }}"
    />
    <title>Watermark Remover</title>
  </head>
  <body>
    <div id="app" class="flex flex-col h-full">
      <!-- <header class="flex flex-col">
        <div>WTMRKRMVR</div>
        <nav class="ml-auto">
          <ul class="list-none">
            <li class="inline-block">Mupati</li>
            <li class="inline-block">Portfolio</li>
            <li class="inline-block">Contact</li>
            <li class="inline-block">GitHub</li>
          </ul>
        </nav>
      </header> -->
      <main class="pt-32 mb-auto">
        <h1 class="text-center mb-12 text-5xl">A WATERMARK REMOVER</h1>
        <p class="text-center mb-12">
          Remove watermark embedded in a PDF file or an image
        </p>

        <form @submit.prevent="processFile">
          <div class="flex items-center justify-center bg-grey-lighter">
            <label
              class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-white hover:text-blue"
            >
              <svg
                class="w-8 h-8"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z"
                />
              </svg>
              <span class="mt-2 text-base leading-normal">Select a file</span>
              <input
                type="file"
                name="file"
                class="hidden"
                ref="uploadedFile"
                accept=".png,.jpg,.jpeg,.pdf"
              />
            </label>
          </div>
          <div class="text-center my-16">
            <button
              :class="{'cursor-not-allowed': isProcessing}"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex"
              type="submit"
              :disabled="isProcessing"
            >
              <svg
                class="animate-spin mr-3 h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                v-if="isProcessing"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>
              Process File
            </button>
          </div>
        </form>

        <div
          class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mx-auto max-w-md"
          role="alert"
          v-if="isError"
        >
          <p class="font-bold">Error</p>
          <p>${errorMessage}</p>
        </div>
        <div class="text-center my-16" v-if="showDownloadButton">
          <button
            class="bg-green-700 hover:bg-green-500 text-white font-bold py-2 px-4 rounded inline-flex items-center"
          >
            <svg
              class="fill-current w-4 h-4 mr-2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
            </svg>
            <a
              :href="downloadLink"
              target="_blank"
              rel="noreferrer noopener nofollow"
              >Download File</a
            >
          </button>
        </div>
      </main>
      <footer class="text-center py-5 text-xl">
        &copy; ${currentYear} | Watermark Remover -
        <a
          href="https://mupati.devcodes.co"
          target="_blank"
          noreferrer
          nofollower
          class="p-2 hover:bg-green-500 hover:text-white rounded"
          >Kofi Mupati</a
        >
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{{ url_for('static', filename='watermark_remover/index.js') }}"></script>
  </body>
</html>
